@font-face {
    font-family: "Norse Bold";
    src: url(/fonts/Norse-Bold.otf);
}

:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --left-panel-width: 33vw;
    --left-panel-max-width: 720px;
}

body {
    display: flex;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    width: var(--left-panel-width);
    max-width: var(--left-panel-max-width);
}

.container #banner {
    flex: 1;
}

#banner>div {
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--left-panel-width);
    max-width: var(--left-panel-max-width);
    height: 100px;
    background: rgba(20, 20, 20, 0.5);
    text-align: center;
    padding: 40px 0px;
}

h1 {
    font-family: "Norse Bold";
    font-size: 6rem;
    color: white;
    margin: 0;
}

img[src="images/odin-lined.png"] {
    height: 8rem;
}

#background-img {
    height: 100%;
    width: 100%;
}

.container:nth-child(2) {
    min-width: calc(100% - var(--left-panel-width)); 
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    justify-content: space-evenly;
}

#pitch, #btn-container {
    padding-left: 4vw;
}

#pitch {
    font-size: 2rem;
}

#pitch div {
    margin-right: 4vw;
}

#pitch div:nth-child(3) {
    margin-top: 20px;
}

#form-container {
    background-color: white;
    min-height: 140px;
    box-shadow: 0 5px 5px darkgray;
}

#form-container form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 24px 4vw;
}

.column>div {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    margin-right: 4vw;

}

label {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

input {
    height: 1.4rem;
    font-size: 1.1rem;
    border: 2px solid #E5E7EB;
    margin-bottom: 12px;
}

select {
    height: 24.391px;
}

input:focus, select:focus {
    outline: none;
    border: 2px solid #5e7ab1;
    border-radius: 4px;
    background-color: whitesmoke;
}

#btn-container button {
    border: 0;
    border-radius: 4px;
    padding: 1rem 3rem;
    background-color: #596D48;
    color: white;
    font-weight: bolder;
    box-shadow: 2px 2px 2px darkgrey;
}

#btn-container button:hover {
    box-shadow: 3px 3px 2px rgb(121, 121, 121);
}